ws_mono/Service References/wserv/teste.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.example.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.example.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Example web service in C#</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.example.org/">
      <s:element name="AddNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="number2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddNumbers" />
  </wsdl:message>
  <wsdl:message name="AddNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="AddNumbersHttpGetIn">
    <wsdl:part name="number1" type="s:string" />
    <wsdl:part name="number2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddNumbersHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddNumbersHttpPostIn">
    <wsdl:part name="number1" type="s:string" />
    <wsdl:part name="number2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddNumbersHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="testeSoap">
    <wsdl:operation name="AddNumbers">
      <wsdl:input message="tns:AddNumbersSoapIn" />
      <wsdl:output message="tns:AddNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="testeHttpGet">
    <wsdl:operation name="AddNumbers">
      <wsdl:input message="tns:AddNumbersHttpGetIn" />
      <wsdl:output message="tns:AddNumbersHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="testeHttpPost">
    <wsdl:operation name="AddNumbers">
      <wsdl:input message="tns:AddNumbersHttpPostIn" />
      <wsdl:output message="tns:AddNumbersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testeSoap" type="tns:testeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumbers">
      <soap:operation soapAction="http://www.example.org/AddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="testeSoap12" type="tns:testeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNumbers">
      <soap12:operation soapAction="http://www.example.org/AddNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="testeHttpGet" type="tns:testeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddNumbers">
      <http:operation location="/AddNumbers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="testeHttpPost" type="tns:testeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddNumbers">
      <http:operation location="/AddNumbers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="teste">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Example web service in C#</wsdl:documentation>
    <wsdl:port name="testeSoap" binding="tns:testeSoap">
      <soap:address location="http://127.0.0.1:8080/teste.asmx" />
    </wsdl:port>
    <wsdl:port name="testeSoap12" binding="tns:testeSoap12">
      <soap12:address location="http://127.0.0.1:8080/teste.asmx" />
    </wsdl:port>
    <wsdl:port name="testeHttpGet" binding="tns:testeHttpGet">
      <http:address location="http://127.0.0.1:8080/teste.asmx" />
    </wsdl:port>
    <wsdl:port name="testeHttpPost" binding="tns:testeHttpPost">
      <http:address location="http://127.0.0.1:8080/teste.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>